.middle {
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
}

.videos {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;
}