.middle {
  display: flex;
  justify-content: center;
}

thead {
  text-align: center;
  font-weight: 700;
}

table {
  background-color: rgba(255, 255, 255, 0.8);
}

td {
    border: 1px solid #ddd;
    padding: 15px;
  }

